h1 {
  font-family: Nunito;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 85vh;
  border-radius: 25px;
  background-color: #d1e1f3;
}

#title-report-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  width: 70%;
}

#report-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  width: 50%;
  height: auto;
}

#answered-form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 3rem;
  width: 90%;
  height: auto;
  overflow: scroll;
}

@media (max-width: 700px) {
  #container {
    width: 90vw;
    height: 90vh;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}
